a {
	display: block;
	border-bottom: solid #bbb 1px;
	text-decoration: none; color: #aaa;
}

abbr {
	border-bottom: dotted #888 1px;
}

address {
	font-family: georgia, serif; font-style: normal;
}

body {
	margin: 0px; background: #333;
	font-family: "Futura Extra Bold", "Arial Black", helvetica, sans-serif;
}

h1, h2, h3 {
	border-left: solid #333 12px;
	text-transform: uppercase; font-weight: bold;
}

h1 {
	margin: 0; padding: 12px; background: #eb0000;
	border-top: solid maroon 12px;
	font-weight: bold; color: white;
}

@media (max-width: 364px) {
	h1 {
		font-size: x-large;
	}
}

h2 {
	margin: 0px; padding: 12px; background: white;
	border-left: solid white 12px;
	text-transform: uppercase;
}

h2 a, h4 a {
	display: inline; color: inherit;
}

h3, h4, h5 {
	margin: 0px;
	font-family: helvetica, arial, sans-serif;
}

h3 {
	padding: 4px; background: #333;
	text-align: center; font-size: x-small; color: #eee;
}

h4 {
	display: block; padding: 10px; background: lightyellow;
	border-bottom: solid #bbb 1px;
	font-size: large; color: #444;
}

h5 {
	display: block; margin: 0px; padding: 10px; background: lightyellow;
	border-bottom: solid #bbb 1px;
	font-size: medium; color: #444;
}

p {
	margin: 0px; padding: 10px;
	border-left: solid black 10px;
	color: #444;
}

s {
	color: #ddd;
}

select {
	background: inherit;
	font-family: inherit; font-size: x-small; color: inherit;
}

small {
	position: absolute; margin-top: -1px; width: 100%;
	text-align: center; font-family: sans-serif; font-size: x-small; color: #ddd;
}

strong {
	padding: 4px; background: #444;
	border-radius: 4px;
	font-style: normal; color: white;
}

table {
	width: 100%; background: white;
	border-bottom: solid #bbb 1px;
	font-family: georgia, monospace; font-size: small; color: #444;
}

td {
	width: 4%;
	border-bottom: solid white 4px;
	text-align: center;
}

time {
	border-bottom: dotted #444 1px;
}

time.relative {
	float: right; margin-top: -3px; padding: 4px; background: lightgreen;
	border: none; border-radius: 4px;
	font-size: medium; color: #444;
}

.above {
	border-bottom-color: #333;
	color: #444;
}


.active {
	background: lightyellow;
	color: #444;
}

.active:hover {
	background: lightyellow;
	color: #222;
}

.coming {
	font-weight: bold;
}

.current {
	background: #ffe;
	color: #222;
}

.minutes {
	border-left: dotted #444 1px;
}

.minutes:before {
	content: ":";
}

.next {
	border-bottom: solid lightgreen 4px;
}

td.now {
	border-bottom-color: #f77373;
}

time.now {
	background: #f77373;
}

.comment {
	display: none; padding-bottom: 14px; background: #ffa;
	border-left-color: orange; border-left-width: 12px; border-bottom: dashed orange 1px;
	font-family: verdana, sans-serif; font-size: small; color: #444;
}

.comment strong {
	float: left; margin-right: 6px; padding: 2px;
}

.comment a {
	display: inline;
	color: inherit;
}

.right {
	float: right !important;
}

.toggle {
	display: block; cursor: pointer;
}

#brewer-north { border-left-color: #bee2bb }
#brewer-south { border-left-color: #ff9b69 }
#capehart { border-left-color: #3c612d }
#hammond-st { border-left-color: #ffd787 }
#hampden { border-left-color: #8846a6 }
#mall-hopper { border-left-color: #c51446 }
#oldtown { border-left-color: #2ab098 }
#stillwater-ave { border-left-color: #3e379a }
#center-st { border-left-color: #d2d2d2 }
#mt-hope-ave { border-left-color: #808080 }
#black-bear-express { border-left-color: #00adff }

#map {
	background: #bbb;
	height: 180px;
}

@media (min-width: 768px) {

	#outbound {
		float: left; width: 49%;
	}

	#inbound {
		float: right; width: 50%;
	}

}
